::-webkit-scrollbar
  // width: 0.8vw
  width: 0
// ::-webkit-scrollbar-thumb // Handle
//   background-color: $black
// ::-webkit-scrollbar-track // Track
//   background-color: transparent
  
html
  color: $black
  font-family: 'Rubik', sans-serif;
  font-size: 16px
  font-weight: medium
  letter-spacing: 0.03rem

body
  padding: 0 7%
  background-color: $white