header
  width: 95%
  line-height: 1.625em
  opacity: 0
  &.animate
    animation: headerSlideIn .75s, headerFadeIn 1s
    animation-fill-mode: forwards
  h1
    margin-top: .5em
    font-size: 2.625em
    font-weight: 500
  p
    margin: 0
    font-size: 1.3125em
    letter-spacing: .03125em
    color: gray
  +iPad
    line-height: 2.6875rem
    h1
      margin: 0
      font-size: .875em
      letter-spacing: .1em
      text-transform: uppercase
      color: silver
    p
      font-size: 2.125em
      color: $black
  +desktop
    font-size: .834em
    line-height: 2.6em

.marketplace
  position: sticky
  top: 0
  z-index: 9999
  margin: 0
  padding: 1.5rem 0
  width: 95%
  color: gray
  background-color: rgba($white, 0.95)
  &.animate
    animation: headerSlideIn .75s, headerFadeIn 1s
    animation-fill-mode: forwards
  span
    padding: .5em .85em
    font-size: .8em
    cursor: pointer
    border: .15em solid
    border-radius: 1.5em
    transition: background-color .3s
    &::after
      content: ">"
      display: inline-block
      transform: rotate(90deg)
    &:hover
      background-color: rgba(black, .02)

.cards
  display: flex
  justify-content: center
  flex-wrap: wrap
  opacity: 0
  &.animate
    animation: cardsSlideIn 1s, cardsFadeIn 1s
    animation-fill-mode: forwards
  +desktop
    font-size: .84em

.card
  margin: 2em
  +cardSize(15.9375em)
  +neumorphicShadow
  border-radius: 2em
  text-align: center
  .color-display
    margin-top: 1.875em
    +round(8.5em)
    +neumorphicShadow
    display: inline-block
  h1
    font-size: 1.75em
  .eth
    padding: 0 .25em .25em .12em
    position: absolute
    width: .65rem
    opacity: .75
  .hex-section, .rgb-section
    margin-bottom: 1em
    font-size: .875em
  .title
    font-size: .875em
    color: silver
  .hex-value, .rgb-value
    font-size: 1.25em

.grid-center
  display: grid
  place-items: center

.uppercase
  text-transform: uppercase

.pointer
  cursor: url('/src/assets/images/colorize.svg') 3 20, pointer

.hide
  opacity: 0