.grid-center
  display: grid
  place-items: center

.uppercase
  text-transform: uppercase

.pointer
  cursor: pointer
  
header
  width: 95%
  line-height: 26px
  h1
    font-size: 42px
    font-weight: 500
  p
    margin: 0
    font-size: 21px
    letter-spacing: 0.5px
    color: gray
  +iPad
    line-height: 43px
    h1
      margin: 0
      font-size: 14px
      letter-spacing: 1.6px
      text-transform: uppercase
      color: silver
    p
      font-size: 34px
      color: $black

.cards
  padding: 0
  list-style: none
  display: flex
  justify-content: center
  flex-wrap: wrap

.card
  margin: 1.5rem
  +cardSize(15.9375rem)
  +neumorphicShadow
  border-radius: 2rem
  text-align: center
  .color-display
    margin-top: 1.875em
    +round(8.5em)
    +neumorphicShadow
    display: inline-block
  h1
    font-size: 1.75em
  .hex-section, .rgb-section
    margin-bottom: 1em
    font-size: 0.875em
  .title
    font-size: 0.875em
    color: silver
  .hex-value, .rgb-value
    font-size: 1.25em